<%= simple_form_for song do |form| %>


    <div class="form-group">
      <%= form.hidden_field 'user_id', :value => @user_id, class: 'form-control' %>
    </div>


    <%= form.input :title, label: 'Song Title', error: 'Song Title is required' %>
  <div class="row">
    <div class="col-md-6">
      <%= form.input :artist_id, :collection => Artist.order(:name), label: 'Artist', error: 'Artist is required', include_blank: false %>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label 'Song Key' %> <br/>
        <%= form.collection_select :key, [['C', 'C'] ,['C#', 'C#'], ['Db', 'Db'], ['D', 'D'],['D#', 'D#'], ['Eb', 'Eb'], ['E', 'E'], ['F', 'F'], ['F#', 'F#'], ['Gb', 'Gb'], ['G', 'G'], ['G#', 'G#'], ['Ab', 'Ab'],['A', 'A'], ['A#', 'A#'], ['Bb', 'Bb'], ['B', 'B']], :first, :last  %>
      </div>
    </div>
  </div>



    <%= form.input :body, label: 'Body', error: 'Song Body is required.' %>
    <%=  form.input :tag_list %>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
