<h1 class="title"><%= @song.title %> <span>by <%= link_to @song.artist.name, @song.artist %></span>
</h1>

<% if user_signed_in? and (logged_in?(:site_admin) or current_user.id == @song.user_id) %>
    <%= link_to 'Edit', edit_song_path(@song), class: 'badge badge-primary' %>
<% end %>
<%= link_to 'Back', songs_path, class: 'badge badge-secondary' %>

<div class="meta">
  <ul>
    <li>Key: <span class="badge badge-secondary"><%= @song.key %></span>
    <% if @song.tags.count > 0 %>
          Tags: <%= render @song.tags %>
    <% end %>
    </li>
  </ul>
</div>
<div class="song-body">
  <pre data-key="<%= @song.key %>">
<%= @song.body %>
</pre>
</div>

