
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Praise Worship Chords Transposer">
  <meta name="author" content="Bernard Alvero">
  <link rel="icon" href="favicon.ico">

  <title><%= @page_title ? @page_title : 'Praise and Worship Chords Directory' %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= yield %>
    </div>

    <div class="col-lg-3">
      <aside id="sidebar" class="bg-light">

      </aside>

    </div>

  </div>


</div><!-- /.container -->

</body>
</html>
